{
  "presets": ["@babel/preset-typescript", "@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["javascript", "css", "typescript", "jsx"],
        "plugins": ["line-numbers"],
        "theme": "okaidia",
        "css": true
      }
    ]
  ]
}
